.steps {
    background: #333333;
    color: #ffffff;
    padding: 80px 0;
}
.steps-wrapper {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}
.step {
    text-align: center;
    width: 200px;
    z-index: 2;
}
.step p {
    font-family: "Aleo", serif;
    font-weight: normal;
    font-size: 30px;
    line-height: 26px;
    color: #E8E8E8;
    margin-top: 15px;
}
.step-icon {
    font-size: 57px;
    margin-bottom: 19px;
}
.search {
    color: #5474FD;
}
.select {
    color: #FF6363;
}
.book {
    color: #00A2FF;
}
.curves {
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}
.curves svg {
    width: 100%;
    height: 100px;
}
.curves path {
    stroke: #777;
    stroke-width: 2;
    fill: none;
}
/* ==== TABLET ==== */
@media (max-width:768px) {
    .steps-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    .step {
        width: 100%;
        max-width: 300px;
    }
    .step-icon {
        font-size: 45px;
    }
    .curves {
        display: none;
    }
}
/* ==== Mobile ==== */
@media (max-width: 576px) {
    .steps-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    .step {
        width: 100%;
        max-width: 280px;
    }
    .step-icon {
        font-size: 40px;
    }
    .curves {
        display: none;
    }

}