.testimonial {
    height: 731px;
    background: url("../images/testimonialbg.png") center/cover no-repeat;
    display: flex;
    align-items: center;
}
.testimonial-title {
    font-family: "Aleo", serif;
    font-weight: normal;
    font-size: 36px;
    line-height: 26px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 91px;
}
.testimonial-card {
    display: flex;
    background: rgba(0,0,0,0.6);
}
.testimonial-image {
    width: 445px;
    height: 284px;
    object-fit: cover;
    transition: all 0.4s ease;
}
.testimonial-content {
    font-family: "Josefin Sans", sans-serif;
    font-weight: normal;
    line-height: 26px;
    color: #fefefe;
    padding: 40px;
}
.testimonial-content h4 {
    font-size: 20px;
}
.testimonial-content {
    font-size: 12px;
}
.quote-icon {
    color: #5474fd;
    font-size: 20px;
}
/* ==== HOVER ==== */
.testimonial-image:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
}
/* ==== TABLET ==== */
@media (max-width:768px) {
    .testimonial-card {
        flex-direction: column;
    }
    .testimonial-image img {
        width: 100%;
    }
}