.why {
    background: url("../images/whychooseus.png") center/cover no-repeat;
    color: #FFFFFF;
    padding: 80px 0;
}
.why .container {
    display: flex;
    align-items: center;
    gap: 80px;
}
.why-text {
    max-width: 560px;

}
.why-text h2 {
    font-family: "Aleo", serif;
    font-weight: normal;
    font-size: 36px;
    line-height: 26px;
    margin-bottom: 50px;
}
.why-text p {
    font-family: "Josefin Sans", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1.6px;
    color: #e8e8e8;
    margin-bottom: 45px;
}
.why .btn {
    width: 228px;
    height: 63px;
    font-size: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1.2px;
}
.why-images {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.why-images img {
    width: 350px;
    height: 220px;
    display: block;
}
.why-images img:first-child {
    margin-bottom: 10px;
}
.why-images img:last-child {
    align-self: flex-end;
}