*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

section {
  padding: 80px 0;
}

.btn {
  font-family: "Aleo", serif;
  background-color: #5474FD;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

ul {
  list-style: none;
}

.hero {
  height: 100vh;
  background: url("../images/main-image.png") center/cover no-repeat;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.logo {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 2.4px;
}

.navbar {
  width: 100%;
  padding: 30px 0;
  background-color: #5474FD;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-links {
  font-family: "Aleo", serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 13px;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: #FFFFFF;
}

.hero-content {
  max-width: 500px;
  font-family: "Josefin Sans", sans-serif;
  color: #FFFFFF;
  margin: auto;
}

.hero-content h1 {
  font-weight: bold;
  font-size: 48px;
  line-height: 26px;
  letter-spacing: 4.8px;
  margin-bottom: 11px;
}

.hero-text {
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 6.82px;
  margin-bottom: 48px;
}

.search-form {
  width: 600px;
  height: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-form input {
  font-family: "Josefin Sans", sans-serif;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 2.8px;
  text-align: center;
  color: #999999;
  padding: 20px;
  border: none;
}

.hero .btn {
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 1.4px;
}

.why {
  background: url("../images/whychooseus.png") center/cover no-repeat;
  color: #FFFFFF;
  padding: 80px 0;
}

.why .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 80px;
}

.why-text {
  max-width: 560px;
}

.why-text h2 {
  font-family: "Aleo", serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 26px;
  margin-bottom: 50px;
}

.why-text p {
  font-family: "Josefin Sans", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.6px;
  color: #e8e8e8;
  margin-bottom: 45px;
}

.why .btn {
  font-family: "Aleo", serif;
  width: 228px;
  height: 63px;
  font-size: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.2px;
}

.why-images {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.why-images img {
  width: 350px;
  height: 220px;
  display: block;
}

.why-images img:first-child {
  margin-bottom: 10px;
}

.why-images img:last-child {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.steps {
  height: 340px;
  background: #333333;
  color: #ffffff;
  text-align: center;
}