*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

section {
  padding: 80px 0;
}

.btn {
  font-family: "Aleo", serif;
  background-color: #5474FD;
  color: #FFFFFF;
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

ul {
  list-style: none;
}

.hero {
  height: 821px;
  background: url("../images/main-image.png") center/cover no-repeat;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.logo {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 2.4px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.navbar {
  width: 100%;
  padding: 12px 0;
  background-color: #5474FD;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-links {
  font-family: "Aleo", serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 13px;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: #FFFFFF;
}

.nav-links a {
  color: #FFFFFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.hero-content {
  max-width: 500px;
  font-family: "Josefin Sans", sans-serif;
  color: #FFFFFF;
  margin: auto;
}

.hero-content h1 {
  font-weight: bold;
  font-size: 48px;
  line-height: 26px;
  letter-spacing: 4.8px;
  margin-bottom: 11px;
}

.hero-text {
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 6.82px;
  margin-bottom: 48px;
}

.search-form {
  width: 600px;
  height: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-form input {
  font-family: "Josefin Sans", sans-serif;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 2.8px;
  text-align: center;
  color: #999999;
  padding: 20px;
  border: none;
}

.hero .btn {
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 1.4px;
}

.scroll-down {
  margin-top: 100px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 2.8px;
}

.scroll-down i {
  font-size: 14px;
}

/* ==== HOVER ==== */
.logo:hover {
  opacity: 0.7;
}

.nav-links a:hover {
  color: #999999;
}

/* ==== TABLET ==== */
@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 18px;
  }
  .search-form {
    width: 100px;
  }
  .navbar .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}
.why {
  background: url("../images/whychooseus.png") center/cover no-repeat;
  color: #FFFFFF;
  padding: 80px 0;
}

.why .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 80px;
}

.why-text {
  max-width: 560px;
}

.why-text h2 {
  font-family: "Aleo", serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 26px;
  margin-bottom: 50px;
}

.why-text p {
  font-family: "Josefin Sans", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.6px;
  color: #e8e8e8;
  margin-bottom: 45px;
}

.why .btn {
  width: 228px;
  height: 63px;
  font-size: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.2px;
}

.why-images {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.why-images img {
  width: 350px;
  height: 220px;
  display: block;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.why-images img:first-child {
  margin-bottom: 10px;
}

.why-images img:last-child {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

/* ==== HOVER ==== */
.why-images img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}

/* ==== TABLET ==== */
@media (max-width: 768px) {
  .why .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }
  .why-images img {
    width: 100%;
    height: auto;
  }
}
.steps {
  height: 340px;
  background: #333333;
  color: #ffffff;
  padding: 80px 0;
}

.steps-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.step {
  text-align: center;
}

.step p {
  font-family: "Aleo", serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 26px;
  color: #E8E8E8;
}

.step-icon {
  font-size: 57px;
  margin-bottom: 19px;
}

.search {
  color: #5474FD;
}

.select {
  color: #FF6363;
}

.book {
  color: #00A2FF;
}

.curve {
  margin-top: 30px;
}

/* ==== TABLET ==== */
@media (max-width: 768px) {
  .steps-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }
  .step::after {
    display: none;
  }
}
.destination {
  height: 700px;
  background: url("../images/Spainmadrid1.png") center/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.destination .container {
  width: 100%;
}

.destination-card {
  background: rgba(0, 0, 0, 0.6);
  color: #FFFFFF;
  padding: 40px;
  width: 543px;
  height: 374px;
}

.destination-card p,
.destination-card h3,
.destination-card h4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: normal;
  line-height: 26px;
}

.destination-card h4 {
  font-size: 20px;
  letter-spacing: 1.5px;
  color: #E8E8E8;
  margin-bottom: 23px;
}

.destination-card h3 {
  font-size: 20px;
  margin-bottom: 13px;
}

.destination-card p {
  font-size: 16px;
  color: #E8E8E8;
  margin-bottom: 46px;
}

.destination .btn {
  width: 228px;
  height: 63px;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.2px;
}

/* ==== TABLET ==== */
@media (max-width: 768px) {
  .destination-card,
  .destination-card2 {
    width: 100%;
    height: auto;
  }
}
.destination-second {
  height: 700px;
  background: url("../images/Spainmadrid2.png") center/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.destination-second .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.destination-card2 {
  background: rgba(0, 0, 0, 0.7);
  color: #FFFFFF;
  padding: 40px;
  width: 543px;
  height: 374px;
}

.destination-card2 p,
.destination-card2 h3,
.destination-card2 h4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: normal;
  line-height: 26px;
}

.destination-card2 h4 {
  font-size: 20px;
  letter-spacing: 1.5px;
  color: #E8E8E8;
  margin-bottom: 23px;
}

.destination-card2 h3 {
  font-size: 20px;
  margin-bottom: 13px;
}

.destination-card2 p {
  font-size: 16px;
  color: #E8E8E8;
  margin-bottom: 46px;
}

.destination-card2 .btn {
  width: 228px;
  height: 63px;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.2px;
}

.testimonial {
  height: 731px;
  background: url("../images/testimonialbg.png") center/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial-title {
  font-family: "Aleo", serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 26px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 91px;
}

.testimonial-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(0, 0, 0, 0.6);
}

.testimonial-image {
  width: 445px;
  height: 284px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.testimonial-content {
  font-family: "Josefin Sans", sans-serif;
  font-weight: normal;
  line-height: 26px;
  color: #fefefe;
  padding: 40px;
}

.testimonial-content h4 {
  font-size: 20px;
}

.testimonial-content {
  font-size: 12px;
}

.quote-icon {
  color: #5474fd;
  font-size: 20px;
}

/* ==== HOVER ==== */
.testimonial-image:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}

/* ==== TABLET ==== */
@media (max-width: 768px) {
  .testimonial-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .testimonial-image img {
    width: 100%;
  }
}
.footer {
  height: 271px;
  background: #232323;
  text-align: center;
  padding: 120px 0;
  color: #FFFFFF;
}

.footer-logo {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 3.36px;
  margin-bottom: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.footer-text {
  font-family: "Josefin Sans", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.6px;
  margin-bottom: 16px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.social a .fa-linkedin-in {
  color: #5474fd;
}

.social a {
  color: white;
  font-size: 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* ==== HOVER ==== */
.social a:hover {
  color: #5474fd;
}

.footer-logo:hover {
  opacity: 0.7;
}

/* ==== TABLET ==== */
@media (max-width: 768px) {
  .social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}